target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.classpath
.project
.settings/
*.jars
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

.idea/
*.iws
*.iml
*.ipr
*.swp
*.swo
*~
.DS_Store
.vscode/
*.code-workspace

